html
  head
    title= title
  body
    - var n = 0
    ul
    while n < name.length
        li
            a(href='http://localhost:3000/api/v1/rom/id/'+id[n]) #{name[n]}
            - n++






    p= path
    p= desc
    p= image
    p= releasedate
    p= developer
    p= publisher
    p= genre